<font size=4>
  You can extract your gene set from the MA-plot and/or Volcano-plot in 3 steps.
  <ol>
  <li>Load your DESeq2 results table (differential analysis)</li>
  <li>Select parameter cutoffs with the sliders (tab 'Parameters' on the left), type in your gene (text panel above MA-plot) or draw frames in one of the plots - the other plot will react</li>
  <li>Switch to tab 'Table - selected data' to view, search and download your selected gene set</li>
  </ol>
<p>Further, the 'Statistics' panel on the left side, shows you the number of differential genes according to the selected slider cutoffs.</p>
  
A speciality of the plots is, that they show you 

  <ol>
    <li>tool tips with information to each gene (feature)</li>
    <li>you can zoom</li>
  </ol>
  
  The tabs 'Table - preview input' and 'Sessioninfo' are for debug purpose only
  
</font>
